.App {
  width: 90%;
  height: 100%;
  padding: 5px;
}

.squares {
  width: 440px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.square {
  height: 210px;
  width: 210px;
  box-shadow: 0px 0px 5px gray;
  margin: 5px;
  background-color: white;
}
.square-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.square-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.square-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.square-4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.btn__container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  padding: 5px;
}
.btn__dj {
  padding: 15px 0;
  font-size: 1.5em;
  color: rgba(45, 64, 82, 0.75);
  background-color: rgb(255, 255, 255);
  outline: none;
  font-weight: bold;
  border: solid 1pt rgb(211, 211, 211);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 800px) {
  .squares {

  }
  .btn__container {
    
  }
}