
ssh 

assignments/level-1/colossal-rpg/notes.md
assignments/level-4/capstone-project/proposal.md
assignments/level-4/capstone-project/openai-quickstart-node/
assignments/level-4/capstone-project/server/client/src/openaikeys.js
assignments/level-4/capstone-project/server/.env
assignments/level-5/thing-finder/


misc.
assignments/level-6/final-project/.env
assignments/level-6/final-project/notes.md

node_modules/
