.footer-container {
    margin: 3% auto;
    padding: 5% 0;
    height: 200px;
    width: 100%;
}
.footer-icons {
    border: dotted 1pt blue;
    margin: 5% auto 2% auto;
    width: 25%;
}
.footer-icon {
    height: 54px;
    width: 54px;
    border: dotted 1pt red;
    display: inline-block;
    margin: auto 7%;
}
#twitter-icon {
    background-image: url(../../assets/twitter.png);
}
.facebook-icon {
    background-image: url(../../assets/facebook.png);
}
.github-icon {
    background-image: url(../../assets/github.png);
}
.footer-text {
    text-align: center;
    color:rgba(0, 0, 0, 0.55);
    font-family: 'Lora', serif;
}