.blog-post__title {
    font-size: 2em;
    font-weight: bold;
}
.blog-post__subtitle {
    font-size: 1.5em;
}
.blog-post__text {
    font-size: 1.25em;
    color: gray;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.blog-post__author {
    color: black;
}


